<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Facebook</title>
</head>
<body>
    <div class="navbar-container">
            <div class="navbar-items">
                <div  class="navbar-left">
                    <a href="#">Facebook</a>
                </div>
                <div id="search-input">
                    <input type="text" id="fname" name="fname">
                </div>
                <div  class="navbar-right">
                    <a href="#" class="navbar-left">search</a>
                    <a href="#" class="navbar-left">requests</a>
                    <a href="#" class="navbar-left">friends</a>
                    <a href="#" class="navbar-left">LogOUT</a>
                </div>
            </div>
    </div>

    <div>

    <!--avatar sectoin-->
    <div class="home-content">
            <div class="avatar-section">
                <div class="profile-picture">
                    <img src="../assets/images/Avatar.svg">
                </div>
                <div>
                    <h3>Karim Khalifeh</h3>
                    <h3>20 posts</h3>
                </div>
            </div>
        

        <!--posts-->
        <div id="posts">
            <div class="post">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. I 
                </p>
            </div>
            <div class="post">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  
                </p>
            </div>
            <div class="post">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.  
                </p>
            </div>
        </div>
    </div>
    
</body>
</html>